.title {display: inline-block;
        width: 100%;
}



.ZZ {margin-left: 690px;}
.ZG {margin-left: 23px;}
.ZH {margin-left: 350px; margin-top: 20px;}
.ZX {margin-top: -55px;font-size: 70px;}
.colorM {color: rgb(177, 162, 162);}
.ZM {margin-top: 55px; font-size: 70px;}
.ZO {font-size: 20px; margin-top: -25px;}
.ZI {font-size: 20px; margin-bottom: 30px;}

.GG {display: block;
    margin-top: 40px;
    margin-bottom: 30px;
    border: none;
    background-color: black;
    height: 35px; width: 320px; padding-left: 14px;
    width: 330px;
    border-radius: 10px;
}
.GH {margin-bottom: 10px;
    margin-top:15px ;
}

.color {background-color: rgb(0, 116, 255);
        border-radius: 30px;
        border: none; color: white;
        font-size: 19px;
        height: 45px;
        padding: 2px 22px 0px;
        
}
.Bottom {display: inline-block;
        padding: 50px;
        padding-bottom: 0px; 
        padding-right: 0px;
         border: 2px 
         solid red; font-size: 15px;
         margin-left: 310px;
         margin-top: 100px;
         margin-bottom: -0px;
}
.LL {margin-top: 38px;
    margin-bottom: 15px;
}
.PP {margin-left: 15px; font-size: 16px; font-style: inherit;}
.BB {margin-left: 50px; font-size: 15px;}
