.top {background-color: black;}

.middle {}

.bottom {background-color: rgb(64, 64, 119);}

.photo {width: 30px; height: 30px;}

.left {display: inline-block; width: 45%;}

.right {display:inline-block; width: 50%;}

.rightphoto {width: 220px; height: 220px;}
